@import "header.css";
@import "introduçao.css";
@import "section.css";
@import "conteudo.css";
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
.icones {
  width: 50px;
}
